<div class="maincontainer">
  <form class="contentcontainer">

    <div class="leftcolumn">

      <h3>Crear área</h3>
      <p>Creación de áreas de la empresa.</p>
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="name">
          <form [formGroup]="name">
            <ng-template matStepLabel>Nombre del área</ng-template>
            <mat-form-field>
              <input matInput placeholder="Area" formControlName="name" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="description">
          <form [formGroup]="description">
            <ng-template matStepLabel>Descripción del área</ng-template>
            <mat-form-field>
              <textarea matInput placeholder="Descripcion" formControlName="description"></textarea>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atras</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <!-- <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Padre</ng-template>
        <mat-form-field>
          <mat-label>Padre</mat-label> -->
        <!-- <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select> -->

        <!-- <select matNativeControl required>
            <option value="padre1">Padre 1</option>
            <option value="padre2">Padre 2</option>
            <option value="padre3">Padre 3</option>
            <option value="padre4">Padre 4</option>
          </select>

        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step> -->

        <mat-step>
          <ng-template matStepLabel>Registro</ng-template>
          <div>
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-button (click)="addArea()">Registrar</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>

    </div>


    <div class="rightcolumn">

      <h3>Listado de áreas</h3>
      <p>Listado de las áreas de la empresa.</p>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let area of areas.elements">
          <mat-expansion-panel-header>
            {{area.name}}
          </mat-expansion-panel-header>
          {{area.description}}
        </mat-expansion-panel>
      </mat-accordion>

    </div>


  </form>


</div>
