<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->

<div class="maincontainer">
  <form class="contentcontainer">

      <div class="leftcolumn">

        <h3>Crear área</h3>
        <p>Creación de áreas de la empresa.</p>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="name">
      <form [formGroup]="name">
        <ng-template matStepLabel>Nombre del área</ng-template>
        <mat-form-field>
          <input matInput placeholder="Area" formControlName="name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="description">
      <form [formGroup]="description">
        <ng-template matStepLabel>Descripción del área</ng-template>
        <mat-form-field>
          <textarea matInput placeholder="Descripcion" formControlName="description"></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <!-- <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Padre</ng-template>
        <mat-form-field>
          <mat-label>Padre</mat-label> -->
          <!-- <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select> -->

          <!-- <select matNativeControl required>
            <option value="padre1">Padre 1</option>
            <option value="padre2">Padre 2</option>
            <option value="padre3">Padre 3</option>
            <option value="padre4">Padre 4</option>
          </select>

        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step> -->

    <mat-step>
      <ng-template matStepLabel>Registro</ng-template>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button (click)="addArea()" >Registrar</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</div>


<div class="rightcolumn">

  <h3>Listado de áreas</h3>
  <p>Listado de las áreas de la empresa.</p>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              Type your name and age
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      
</div>


</form>


</div>