<div class="maincontainer" *ngIf="(areas != null) else loading">
  <form class="contentcontainer">

    <div class="leftcolumn">

      <h3>Crear área</h3>
      <p>Creación de áreas de la empresa.</p>
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="name">
          <form [formGroup]="name">
            <ng-template matStepLabel>Nombre del área</ng-template>
            <mat-form-field>
              <input matInput placeholder="Area" formControlName="name" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="description">
          <form [formGroup]="description">
            <ng-template matStepLabel>Descripción del área</ng-template>
            <mat-form-field>
              <textarea matInput placeholder="Descripcion" formControlName="description"></textarea>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atras</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="upperAreaID">
          <form [formGroup]="upperAreaID">
            <mat-form-field>
              <ng-template matStepLabel>Área Superior</ng-template>
              <mat-label>Área</mat-label>
              <mat-select formControlName="upperAreaID">
                <mat-option value="null">Ninguno</mat-option>
                <mat-option *ngFor="let area of areas.elements" [value]="area.id">{{area.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atras</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Registro</ng-template>
          <ng-container *ngIf="!hide; then formNotSubmitted ; else formSubmitted">
          </ng-container>
        <ng-template #formNotSubmitted>
          <button mat-button (click)="addArea()">Crear</button>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </ng-template>
        <ng-template #formSubmitted>
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Procesando Solicitud ...
          </button>
        </ng-template>
        </mat-step>
      </mat-vertical-stepper>

    </div>

    <div class="rightcolumn">

      <h3>Listado de áreas</h3>
      <p>Listado de las áreas de la empresa.</p>

      <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      <mat-accordion *ngIf="areas">
        <mat-expansion-panel *ngFor="let area of areas.elements | paginate: {itemsPerPage: 5, currentPage: pageActual}">
          <mat-expansion-panel-header>
            {{area.name}}
          </mat-expansion-panel-header>
          {{area.description}}
        </mat-expansion-panel>
      </mat-accordion>

    </div>

  </form>
  <ng-flash-message></ng-flash-message>
</div>

<ng-template #loading>
  <div class="loaderContainer">
    <div class="loader"></div>
  </div>
</ng-template>