/*Variables */ 
$primaryC : #151B25;

mat-sidenav-container  {
    width: 100%;
    height: fit-content;
    overflow: hidden;

    mat-sidenav {
      
        width: 20%;
        background-color: #eeeeee;
        box-sizing: border-box;
        overflow: hidden !important;
    }

    mat-sidenav-content {
        width: 80%;
        height: 90%;
        background-color: #ffffff;
        box-sizing: border-box; 
        padding: 15px 0px 15px 20px;
    }      
}

