
<!-- <ng-container *ngIf="!setVisibility; then login; else authView"  >
</ng-container> -->

<!-- <ng-template #mainpanel> -->
  <app-nav-bar (hideNavBarEvent)="statusNavBar=$event"></app-nav-bar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened={{statusNavBar}}>
      <app-lateral-panel></app-lateral-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
<!-- </ng-template> -->


<!-- <ng-template #login>
  <app-login (setContentVisibility)="setVisibility=$event"></app-login>
</ng-template>
<ng-template #authView>
  <app-auth-page></app-auth-page>
</ng-template> -->