<div *ngIf="(companyroles != null && systemroles !=null) else loading">
  <div class="maincontainer">
    <div class="card" style="margin-bottom: 20px !important">
      <div class="card-body">
        Formulario para agregar un usuario al sistema
      </div>

    </div>

    <div class="contentcontainer">

      <div class="leftcolumn">

        <form [formGroup]="newUser">

          <mat-vertical-stepper [linear]="isLinear" #stepper matTooltip="Info about the action">

            <mat-step [stepControl]="newUser.get('name')" >
              <ng-template matStepLabel>Nombre</ng-template>
              <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="name" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step [stepControl]="newUser.get('lastname')">
              <ng-template matStepLabel>Apellido</ng-template>
              <mat-form-field>
                <input matInput placeholder="Apellido" formControlName="lastname" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step [stepControl]="newUser.get('gender')">
              <ng-template matStepLabel>Sexo</ng-template>
              <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-radio-button value="M">Masculino</mat-radio-button>
                <mat-radio-button value="F">Femenino</mat-radio-button>
              </mat-radio-group>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step [stepControl]="newUser.get('email')">

              <ng-template matStepLabel>Email</ng-template>
              <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="email" formControlName="email" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>

            </mat-step>


            <mat-step [stepControl]="newUser.get('username')">

              <ng-template matStepLabel>Usuario</ng-template>
              <mat-form-field>
                <input matInput placeholder="Nombre Usuario" formControlName="username" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>

            </mat-step>

            <mat-step [stepControl]="newUser.get('password')">

              <ng-template matStepLabel>Contraseña</ng-template>
              <mat-form-field>
                <input type="password" matInput placeholder="Contraseña" formControlName="password" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>

            </mat-step>


            <mat-step [stepControl]="newUser.get('companyRoleID')">

              <mat-form-field>
                <ng-template matStepLabel>Cargo Área</ng-template>
                <mat-label>Cargo</mat-label>
                <mat-select formControlName="companyRoleID">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let role of companyroles.elements" [value]="role.id">{{role.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>

            </mat-step>

            <mat-step [stepControl]="newUser.get('systemRoleID')">

              <mat-form-field>
                <ng-template matStepLabel>Rol Sistema</ng-template>
                <mat-label>Rol</mat-label>
                <mat-select formControlName="systemRoleID">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let role of systemroles.elements" [value]="role.id">{{role.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>

            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Registrar</ng-template>
              <ng-container *ngIf="!hide; then formNotSubmitted ; else formSubmitted">
              </ng-container>
              <ng-template #formNotSubmitted>
                <button mat-button (click)="addUser()">Crear</button>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </ng-template>
              <ng-template #formSubmitted>
                <button class="btn btn-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Enviando Solicitud al sistema...
                </button>
              </ng-template>
            </mat-step>

          </mat-vertical-stepper>
        </form>
      </div>
      <div class="rightcolumn">
      </div>
    </div>

  </div>
  <ng-flash-message></ng-flash-message>
</div>

<ng-template #loading>
  <div class="loaderContainer">
    <div class="loader"></div>
  </div>
</ng-template>
