$primaryColor:#ffffff;
.maincontainer {
   width: 100%;
   height: 100%;
   //border: 1px solid red;
 
.contentcontainer {
    display: flex !important;
    box-sizing: border-box;
    

    .rightcolumn , .leftcolumn{
        width: inherit; 
        height: inherit; 
        //border: 1px solid red;
        flex: 48%; 
        padding: 10px;
        box-sizing: border-box;
        }
    }
}

.mb-3, .my-3 {
    margin-bottom: 30px !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .card {
    margin: 0px 20px 0px 20px !important;
}

.d-flex {
  border: 1px solid red;
  height: 100%;
}

.loaderContainer {
  margin: 10%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3B495F;
  border-bottom: 16px solid #3B495F;
  width: 150px;
  height: 150px;
  margin: auto auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}