<div class="maincontainer">
  <h3>Registro de Documento</h3>
  <p>Creación de documentos los cuales apoyan el control y la
    operación de cada uno de los procesos para que en
    ellos se garantice su actualización, disponibilidad y su uso.</p>

  <form class="contentcontainer" (ngSubmit)="addDocument()" enctype="multipart/form-data" #documentForm="ngForm">
    <div class="rightcolumn">

      <div class="input-group input-group mb-3 , form-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="code">Código</span>
        </div>
        <input type="text" #code="ngModel" [class.is-invalid]="code.invalid && code.touched" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="code"
          [(ngModel)]="newDocument.code" [(ngModel)]="documentModel.code" required>
        <small [class.d-none]="code.valid || code.untouched" class="text-danger">Code is Required</small>
      </div>

      <div class="input-group input-group mb-3 , form-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="name">Nombre</span>
        </div>
        <input type="text" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="name" id="name"
          [(ngModel)]="newDocument.name" [(ngModel)]="documentModel.name" required>
        <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is Required</small>
      </div>

      <div class="input-group mb-3 , form-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
        </div>
        <select class="custom-select" #type="ngModel" [class.is-invalid]="type.invalid && type.touched" id="type"
          name="type" [(ngModel)]="newDocument.type" [(ngModel)]="documentModel.type" required>
          <option selected>Seleccione...</option>
          <option value="Procedimiento">Procedimiento</option>
          <option value="Documento">Documento</option>
        </select>
        <small [class.d-none]="type.valid || type.untouched" class="text-danger">Type is Required</small>
      </div>

      <div class="input-group input-group mb-3,  form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Descripción</span>
        </div>
        <textarea id="description" name="description" #description="ngModel"
          [class.is-invalid]="description.invalid && description.touched" class="form-control"
          aria-label="With textarea" [(ngModel)]="newDocument.description" [(ngModel)]="documentModel.description"
          required></textarea>
      </div>
      <small [class.d-none]="description.valid || description.untouched" class="text-danger">Description is
        Required</small>
    </div>

    <div class="leftcolumn">

      <div class="input-group input-group mb-3, form-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Proceso</span>
        </div>
        <input type="text" class="form-control" #procedure="ngModel"
          [class.is-invalid]="procedure.invalid && procedure.touched" aria-label=Sizing example input
          aria-describedby="inputGroup-sizing-sm" id="procedure" name="procedure" [(ngModel)]="newDocument.procedure"
          [(ngModel)]="documentModel.procedure" required>
      </div>

      <div class="input-group mb-3, form-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Area</label>
        </div>

        <select class="custom-select" #area="ngModel" [class.is-invalid]="area.invalid && area.touched" id="area"
          name="area" [(ngModel)]="newDocument.area"  [(ngModel)]="documentModel.area">
          <option selected>Seleccione...</option>
          <option value="1">DIR</option>
          <option value="3">RRHH</option>
          <option value="3">ADM</option>
          <option value="3">JUR</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="adjunto">
          <input type="file" name="file" [(ngModel)]="newDocument.attachment" />

        </div>

      </div>

      <div class="containerButton">
        <div class="containerbuttonflex">
          <input class="btn btn-primary" type="reset" value="Limpiar">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>


    </div>
  </form>


</div>
