<div class="maincontainer" *ngIf="(procedures != null && prefixes !=null) else loading">

  <form [formGroup]="newDocument">
    <mat-vertical-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="newDocument.get('code')">
        <ng-template matStepLabel>Código</ng-template>
        <mat-form-field>
          <input matInput placeholder="Código" formControlName="code">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="newDocument.get('name')">
        <ng-template matStepLabel>Nombre</ng-template>
        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="newDocument.get('description')">
        <ng-template matStepLabel>Descripción</ng-template>
        <mat-form-field>
          <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>


      <mat-step [stepControl]="newDocument.get('type')">
          <ng-template matStepLabel>Tipo</ng-template>
          <mat-form-field>
              <mat-select formControlName="type" >
                  <mat-option *ngFor="let type of types"  [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

         <mat-step [stepControl]="newDocument.get('file')">
            <ng-template matStepLabel>Adjunto</ng-template>
              <input type="file"  placeholder="Adjunto" id="buttonUpload"
              (change)="upload($event.target.files)" formControlName="attachment">
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>  
         
          <mat-step [stepControl]="newDocument.get('procedureID')">
              <ng-template matStepLabel>Proceso Documento</ng-template>
              <mat-form-field>
                  <mat-select formControlName="procedureID" >
                      <mat-option *ngFor="let procedure of procedures.elements"  [value]="procedure.id">
                        {{procedure.name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>
            
            <mat-step [stepControl]="newDocument.get('documentPrefixID')">
                <ng-template matStepLabel>Prefijo Documento</ng-template>
                <mat-form-field>
                    <mat-select formControlName="documentPrefixID" >
                        <mat-option *ngFor="let prefix of prefixes.elements"  [value]="prefix.id">
                          {{prefix.prefix}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </mat-step> 


      <mat-step>
        <ng-template matStepLabel>Registro</ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="addDocument()" >Register</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>



    </mat-vertical-stepper>
  </form>
</div>

<ng-template #loading>
    <div class="loaderContainer">
      <div class="loader"></div>
    </div>
  </ng-template>