<div class="maincontainer">
  <h3>Registro de Documento</h3>
  <p>Creación de documentos los cuales apoyan el control y la
    operación de cada uno de los procesos para que en   
    ellos se garantice su actualización, disponibilidad y su uso.</p>
  <div class="contentcontainer">
    <div class="rightcolumn">

      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Código</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm">
      </div>

      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm">
      </div>

      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Versión</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm">
      </div>

      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Descripción</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>

    </div>

    <div class="leftcolumn">

      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Proceso</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Area</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Dir</option>
          <option value="3">RRHH</option>
          <option value="3">Admr</option>
          <option value="3">jur</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Adjuntar</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>

      <input class="btn btn-primary" type="reset" value="Limpiar">
      <button type="button" class="btn btn-success">Guardar</button>
      


    </div>
  </div>
</div>
