$primaryC : #034687;

mat-toolbar {
    background-color: $primaryC ;
    width: 100%;
    color: #ffffff;

    #toolbarLeft {
      margin-right: auto;
    }

    #toolbarRight {
        margin-left: auto;   
    }

    #toolbarMiddle {
      margin: auto; 
      width: 65%;  
    }

    #toolbarMiddle .form-control{
      background-color: rgba(255, 255, 255, .1);
      border:none;
      color: #ffffff;
    }

    #toolbarMiddle .form-control::placeholder {
      color: #ffffff;
    }

    #hideshowNav {
      background-color: transparent;
      border: none;
      margin: 0px 20px 0px 0px;
    }
}

#toolbarLeft mat-icon {
vertical-align: sub;
color: #ffffff;
}
