$primaryC : #034687;

mat-toolbar {
    background-color: $primaryC ;
    width: 100%;
    color: #ffffff;
    display: flex;
    
    #toolbarLeft {
      margin-right: auto;
      position: relative;
      flex: 19%;
    }

    #toolbarRight { 
        flex: 10%;      
        display: flex;
        padding: 0px 0px 0px 15px; 

        #toolbarRight div:nth-child(1) span{
          margin-left: auto;
        }

    }

    #toolbarMiddle {
      margin: auto; 
      flex: 70%;  
    }

    #toolbarMiddle .form-control{
      background-color: rgba(255, 255, 255, .1);
      border:none;
      color: #ffffff;
    }

    #toolbarMiddle .form-control::placeholder {
      color: #ffffff;
    }

    #hideshowNav {
      background-color: transparent;
      border: none;
      margin: 0px 20px 0px 0px;
    }
}

#toolbarLeft mat-icon {
vertical-align: bottom;
color: #ffffff;
}


#toolbarLeft span:nth-child(2) {
  position: absolute;
  right: -10px;
}