<mat-toolbar>
  <mat-toolbar-row>
    <div id="toolbarLeft">
      <span> <img src="../../../assets/img/logo/LogoSample_ByTailorBrands (7).jpg" alt="" srcset=""> </span>
      <span><button id="hideshowNav" (click)="changeNavBarStatus()">
          <mat-icon>reorder</mat-icon>
        </button></span>
    </div>
    <div id="toolbarMiddle">
      <input class="form-control" type="text" placeholder="Default input">
    </div>
    <div id="toolbarRight">
       <div>
        <span>First Row</span>
       </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>