<div class="nav-side-menu">
  <div class="brand">
    <div class="profile-sidebar">
      <div class="profile-userpic">
        <img src="https://img.icons8.com/bubbles/100/000000/check-male.png" class="img-responsive" alt="">
      </div>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          Marcus Doe
        </div>
        <div class="profile-usertitle-job">
          Analista IT
        </div>
        <div class="profile-usertitle-email">
          marcus.doe@company.com
        </div>
      </div>
    </div>
  </div>
 

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li data-toggle="collapse" data-target=".documents" class="collapsed">
        <i class="fa fa-file-text fa-lg"></i> Documentos <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" class="documents">
        <li><a [routerLink]="[ '/document']">Crear Documento
          </a></li>
        <li>Actualizar documento</li>
        <li>Eiminar documento</li>
        <li><a [routerLink]="[ '/approvedocument']">Aprobar documento
          </a></li>
      </ul>

      <li data-toggle="collapse" data-target=".processes" class="collapsed">
        <i class="fa fa-cogs fa-lg"></i> Procesos <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" class="processes">
        <li>Crear proceso</li>
        <li>Actualizar proceso</li>
        <li>Eliminar proceso</li>
      </ul>


      <li data-toggle="collapse" data-target=".sitemap" class="collapsed">
        <i class="fa fa-sitemap fa-lg"></i> Unidad Organizacional <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" class="sitemap">
        <li><a [routerLink]="[ '/hierarchyView']">Visualizar Jerarquía</a>
        </li>
        <li><a [routerLink]="[ '/area']">Crear Área
          </a></li>
        <li>Eliminar área</li>
      </ul>

      <li data-toggle="collapse" data-target=".users" class="collapsed">
        <i class="fa fa-users"></i> Administrar Usuarios <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" class="users">
        <li><a [routerLink]="[ '/companyrole']">Rol Compañia</a>
        </li>
        <li><a [routerLink]="[ '/systemrole']">Rol Sistema</a>
        </li>
        <li><a [routerLink]="[ '/user']">Crear Usuarios</a>
        </li>
      </ul>

      <li data-target="#listDocuments">
        <i class="fa fa-list-ul fa-lg"></i><a [routerLink]="[ '/documents']"> Listado Maestro de Documentos </a>
      </li>

    </ul>
  </div>
</div>
