<div class="nav-side-menu">
  <div class="brand">Press Curing Control</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

          <ul id="menu-content" class="menu-content collapse out">
              <li  data-toggle="collapse" data-target="#documents" class="collapsed active">
                <a href="#"><i class="fa fa-file-text fa-lg"></i> Documentos <span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="documents">
                  <li class="active"><a href="/create">Crear documento</a></li>
                  <li><a href="#">Actualizar documento</a></li>
                  <li><a href="#">Eiminar documento</a></li>
              </ul>


              <li data-toggle="collapse" data-target="#processes" class="collapsed">
                <a href="#"><i class="fa fa-cogs fa-lg"></i> Procesos <span class="arrow"></span></a>
              </li>  
              <ul class="sub-menu collapse" id="processes">
                <li>Crear proceso</li>
                <li>Actualizar proceso</li>
                <li>Eliminar proceso</li>
              </ul>


              <li data-toggle="collapse" data-target="#sitemap" class="collapsed">
                <a href="#"><i class="fa fa-sitemap fa-lg"></i> Unidad Organizacional <span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="sitemap">
                <li>Crear área</li>
                <li>Eliminar área</li>
              </ul>


               <li>
                <a href="#"><i class="fa fa-list-ul fa-lg"></i> Listado Maestro de Documentos </a>
              </li>

          </ul>
   </div>
</div>