<form class="form-signin">
  <img class="mb-4" src="../../../assets/img/logo/LogoSample_ByTailorBrands (7).jpg" alt="" width="170" height="72">

  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <label for="inputUser" class="sr-only">Username</label>
  <input type="text" id="inputUser" class="form-control" placeholder="Username" required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>

  <!--<p>{{message}}</p>-->

  <p>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()"
      *ngIf="!authService.isLoggedIn">Sign in</button>
    <!--<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="logout()" *ngIf="authService.isLoggedIn">Sign out</button>-->
  </p>

  {{ userData | json }}

  <button (click)="microsoftSignIn()">Sign in with Microsoft account</button>

  <p class="mt-5 mb-3 text-muted">&copy; 2019-{{ site.time | date: "%Y" }}</p>

</form>
