<div class="maincontainer" *ngIf="(companyroles !=null) else loading">
  <h3>Crear Rol en la Compañia</h3>
  <p>Creación de los Roles en la compañia.</p>

  <form class="contentcontainer">

    <div class="leftcolumn">
      <mat-vertical-stepper [linear]="isLinear" #stepper *ngIf="(companyroles !=null) else loading">

        <mat-step [stepControl]="name">
          <form [formGroup]="name">
            <ng-template matStepLabel>Nombre</ng-template>
            <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="name" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="description">
          <form [formGroup]="description">
            <ng-template matStepLabel>Descripción</ng-template>
            <mat-form-field>
              <input matInput placeholder="Descripcion" formControlName="description" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>

              <mat-step>
                  <ng-template matStepLabel>Registro</ng-template>
                  <div>
                    <button mat-button matStepperPrevious>Atras</button>
                    <button mat-button (click)="addCompanyRole()" >Registrar</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
      </mat-vertical-stepper>
    </div>


    <div class="rightcolumn">

    <!--  <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              Type your name and age
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>-->

<ng-template #loading>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

