$primaryColor:#ffffff;
.maincontainer {
   width: 100%;
   height: 100%;
//    border: 1px solid blue;
 
.contentcontainer {
    display: flex;
    box-sizing: border-box;

    .rightcolumn , .leftcolumn{
        width: inherit; 
        height: inherit; 
        // border: 1px solid red;
        flex: 48%; 
        padding: 10px;
        box-sizing: border-box;
    }
}

}

.mb-3, .my-3 {
    margin-bottom: 30px !important;
}



.containerButton {    
    width: 100%; 
    max-height: fit-content;
    position: relative;


    .containerbuttonflex {
       
        max-width: fit-content;
        height: 100%;
        position: absolute;
        right: 0;
        top: 10px;
      }
}
 


.btn-primary{
    margin-right: 10px;
    border-radius: 5px;
    
  }

  .btn-success{
    margin-left: auto !important;
    border-radius: 5px;
  }
  

