.container {
  width: 85%;
  height: 100%;
  margin: 10px auto auto auto;
  overflow: hidden;
}
.fa-download:before {
    padding-right: 20px;
}
p {
    font-size: 0.8rem;
    padding-right: 50px;
  }