<div class="maincontainer">
    <form class="contentcontainer">
  
        <div class="leftcolumn">
  
          <h3>Visualizar Perfil Jerarquico</h3>
          <p>Acontinuación, encontrarás el perfil jerarquico de nuestra compañía.</p>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
              <ng-template matStepLabel>Seleccione el Área</ng-template>
              <mat-form-field>
                <mat-label>Áreas en la compañía</mat-label>
                <select matNativeControl required>
                  <option value="padre1">Padre 1</option>
                  <option value="padre2">Padre 2</option>
                  <option value="padre3">Padre 3</option>
                  <option value="padre4">Padre 4</option>
                </select>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
